.select-options{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
    font-size: 15px;
}

.select-options label{
    margin-bottom: 5px;
}

.select-options select{
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 1px 5px #c4c4c4;
    background-color: #fff;
}