.button-add{
    background-color: #01A1F7;
    color:#fff;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 1px 3px #6d6d6d;
    margin: 10px 10px;
    font-weight: bold;
}